footer {
    position: fixed;
    bottom: 0;

    /*Servono per mettere al centro il footer, che è posizionato come absolute*/
    left: 50%;
    transform: translateX(-50%);
    /*Servono per mettere al centro il footer, che è posizionato come absolute*/

    width: 50%;
    height: 10%; /* Altezza del footer */
}


#footer-section {
    margin-top: 20%; /* Aggiungi spazio sopra il footer se necessario */
}

/* Pagina TABELLA */

.aumentaSize{
    font-size: 40px;
}

/* Aggiorna gli stili della tabella */

.intestazioneDiv{
    display: flex;
    justify-content: center;
}



.immagine-prenotazioneDiv{
    width: 7%;
    height: 7%;
    border: none;
    margin-left: 2%;
}

.nota-prenotazioneDiv{
    margin-left: 47%;
}




#imgPrenotazioneImg{
    width: 100%;
    height: 100%;
    cursor: pointer;

}



.tabella-e-altroDiv{
    width: 100%;
    height: 100%;
}

.tabella-prenotazioniDiv{
    width: 70%;
    margin: auto;
}

#formDiv{
    margin-top: 4%;
}

